@font-face {  
    font-family: 'zcool';  
    src: url('./zcool.TTF');  
    font-weight: normal;  
    font-style: normal;  
 }

 @font-face {  
  font-family: 'digital';  
  src: url('./digital.ttf');  
  font-weight: normal;  
  font-style: normal;  
}
