.bg {
    width: 100%;
    height: 100%;
    padding: 16px 16px 16px 16px;
    background-image: url("../image/bg.jpg");
    background-size:100% 100%;
    background-repeat: no-repeat;
    background-position: right top;
    background-attachment: fixed;
}
.dv-border-box-9{
    padding-bottom: 40px;
}
.text_headline{
  color: #96dee8;
  font-family: 'zcool';
  font-size: 35px;

}
.info_text{
  color: #96dee8;
  font-family: 'zcool';
  font-size: 25px;
}
.num{
  color: #6be6c1;
  font-family: 'digital';
  font-size: 45px;
}
